*.csv
*.rar
*.DS_Store
*.zip
UCF101
ucfTrainTestlist
/Users/dylanjoseph/Library/CloudStorage/OneDrive-Personal/Code/CVMC Lab Work/UTD-team-2/03-CIFAR 10 (Convolutional Neural Network)/cifar-10-python.tar.gz